In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [4]:
cholera = pd.read_csv('../data/cholera_clean.csv', index_col = 0)

In [5]:
cholera.head()

,age,sex,dehyd_lev,blood_pres,cholesterol,seizures,vomit_col,gastric_acid,O_bloodtype_bool,fec_cons,exposed_to,fever,cholera
0,63,Male,3,145,233.0,1,0,150,0,0,0,0,1
1,37,Male,2,130,250.0,0,1,187,0,0,0,0,1
2,41,Female,1,130,204.0,0,0,172,0,2,0,0,1
3,56,Male,1,120,236.0,0,1,178,0,2,0,0,1
4,57,Female,0,120,354.0,0,1,163,1,2,0,0,1